<div class="footer">
  <div class="box">
    <div class="box-icon">
      <div class="icon"><i class="fa-brands fa-youtube fa-lg"></i></div>
      <div class="icon"><i class="fa-brands fa-instagram fa-lg"></i></div>
      <div class="icon"><i class="fa-brands fa-x-twitter fa-lg"></i></div>
      <div class="icon"><i class="fa-solid fa-globe fa-lg"></i></div>
      <div class="icon"><i class="fa-brands fa-facebook-f fa-lg"></i></div>
    </div>
    <div class="desc">
      <p>Copyright &copy; 2024 GoZero</p>
    </div>
  </div>
  <div class="box1">
    <h2>Company</h2>
    <p>About Us</p>
    <p>Blog</p>
    <p>Contact Us</p>
    <p>Pricing</p>
    <p>Testimonials</p>
  </div>
  <div class="box2">
    <h2>Support</h2>
    <p>Help Center</p>
    <p>Terms of Service</p>
    <p>Legal</p>
    <p>Privacy Policy</p>
    <p>Status</p>
  </div>
  <div class="box1">
    <h2>Stay up to date</h2>
    <div class="form">
      <form action="">
        <input type="search" name="" id="" placeholder="Your Email address" />
      </form>
    </div>
  </div>
</div>
