* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
}

body {
    background: #FAFAFA;
}

.container {
    width: 80%;
    height: 100%;
    margin-inline: auto;;
}

.navbar {
    background-color: white;
    padding: 30px 0 30px 0;
    position: fixed;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
}

.navbar .container{
    background-color: white;
}

.navbar .box-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .box-navbar .logo h2 {
    color: #717171;
    font-size: 20px;

}

.navbar .box-navbar .menu {
    display: flex;
    column-gap: 30px;
}

.navbar .box-navbar .menu li {
    list-style-type: none;
}

.navbar .box-navbar .menu li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 10px 15px 10px 15px;
}

.navbar .box-navbar .menu .active a {
    background-color: #3B9675;
    border-radius: 5px;
    color: white;
}

.navbar .box-navbar .menu li a:hover {
    color: white;
    background-color: #3B9675;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu-bar {
    color: white;
    font-size: 20px;
    display: none;
}

.judul {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.judul .container{
    padding-top: 20px;
    height: auto;
    background-color: #3B9675;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.judul .box-judul {
    align-items: center;
}

.judul .box-judul .box{
    padding: 20px;
    display: flex;
}

.judul .box-judul .box .keterangan h1{
    padding-left: 20px;
    font-size: 18px;
}

.judul .box-judul .box:nth-child(1) h1 {
    color: white;
    font-size: 25px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.judul .box-judul .box:nth-child(1) p {
    line-height: 2;
    color: white;
    margin-bottom: 20px;
    font-weight: 100;
}

.judul .box-judul .box:nth-child(2) img {
    width: 100%;
    border-radius: 10px;
}

.judul .box-judul .box .icon{
    padding-left: 100px;
}

.judul .box-judul .box1{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.judul .box-judul .box1 .my{
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    font-size: 13px;
}

.judul .box-judul .box1 .my h1{
    font-size: 17px;
}

.judul .box-judul .box1 .my p{
    padding-top: 10px;
    font-size: 15px;
}

.judul .box-judul .deskripsi{
    padding: 10px;
    height: auto;
    display: flex;
    margin-inline: auto;
    background-color: #53B692;
    text-align: center;
    justify-content: center;
}


.judul .box-judul .deskripsi .isi{
    padding-bottom: 8px;
    text-align: center;
    width: 50%;
}

.judul .box-judul .deskripsi .isi h2 a{
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.tukar{
    margin-top: -50px;
    width: 100%;
    margin-bottom: 100px;
}

.tukar .sub{
    width: 100%;
    display: flex;
}

.tukar .sub .box-tukar{
    width: 100%;
    height: auto;
}
.tukar .sub .box-tukar .header h2{
    font-size: 25px;
    width: 35%;
    margin-inline: auto;
    
}

.tukar .sub .box-tukar .header{
    width: 30%;
    background-color: #3B9675;
    height: auto;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    padding: 15px 0px 15px 0px;
    color: white;
}
.tukar .box{
    width: 80%;
    margin-inline: auto;
}
.tukar .box .box-galery{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.tukar .box .box-galery .pendek{
    width: 30%;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.tukar .box .box-galery .pendek img{
    height: 100%;
}

.tukar .box .box-galery .pendek .info{
    margin-top: 5px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}

.tukar .box .box-galery .pendek .klik{
    text-align: center;
    margin-top: 20px;
}


.tukar .box .box-galery .pendek .klik .btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3B9675;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.tukar .box .box-galery .pendek .klik .btn:hover {
    background-color: #174F3B;
}


.footer{
    width: 100%;
    background-color: #174F3B;
    padding: 0px 175px 60px 175px;
    display: flex;
    padding-top: 50px;
    color: white;
    justify-content: space-between;
}

.footer .box{
    width: 30%;
    text-align: center;
}

.footer .box .box-icon{
    display: flex;
    padding-top: 10px;
}

.footer .box .box-icon .icon{
    width: 25%;
}

.footer .box .desc{
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
}

.footer .box1{
    width: 20%;
}

.footer .box1 h2{
    font-size: 20px;
    padding-bottom: 5px;
}

.footer .box1 p{
    font-size: 15px;
}

.footer .box h2{
    font-size: 20px;
    padding-bottom: 5px;
}

.footer .box p{
    font-size: 15px;
}

.footer .box2{
    width: 20%;
}

.footer .box2 h2{
    font-size: 20px;
    padding-bottom: 5px;
}

.form{
    padding-top: 10px;
}

input{
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    border: none;
}