body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: #fafafa;
}

h1 {
  margin: 0;
  padding-top: 100px;
  width: 80%;
  margin: auto;
}

/* quiz */

.quiz-container {
  box-sizing: border-box;
  width: 80%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
  margin: auto;
  margin-top: 35px;
}

.question {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #c1c1c1;
}

input[type="radio"] {
  display: none;
}

.option input[type="radio"]:checked + span {
  background-color: #4caf50; /* Ganti dengan warna latar belakang yang diinginkan */
  color: #fff; /* Ganti dengan warna teks yang sesuai */
  border-radius: 8px;
}

span {
  flex-grow: 1;
  padding: 15px;
  font-size: 16px;
}

.button-submit {
  width: 80%;
  margin: auto;
}

button {
  padding: 12px 24px;
  margin: 50px 0;
  background-color: #3b9675;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #28482a;
}
