<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .photo img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <h3>Gallery</h3>
    <a href="/">Home</a>
    <a href="/gallery/upload">Upload</a>
    {{ range .photos }}
    <div class="photo">
      <h5>{{ .Title }}</h5>
      <img src="/images/{{ .Image }}" alt="">
    </div>
    {{ end }}
  </body>
</html>
