<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login to GoZero</title>
</head>
<body>
   <h3>Login to GoZero</h3>
   <form action="/login/process" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <button>Login</button>
   </form>
   <p>Don't have an account? <a href="/register">Register</a></p>
</body>
</html>