<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Register to GoZero</title>
</head>
<body>
   <h3>Register to GoZero</h3>
   <form action="/register/process" method="post">
      <input type="text" name="fullname" placeholder="fullname">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
   <button>Login</button>
   </form>
   <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>