<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/views/style/navbar.css" />
    <link rel="stylesheet" href="/views/style/tantangan.css" />
    <link rel="stylesheet" href="/views/style/footer.css" />
    <title>tantangan</title>
  </head>
  <body>
    {{ template "navbar.html" . }}

    <div class="box">
      <div class="home">
        <h1>Tantangan GoZero</h1>

        {{ range .missions }}
        <div class="challenge">
          <div class="status status-done">{{ .Reward }} Points</div>
          <h2 class="T1">{{ .Description }}</h2>
          <div class="btn-container">
            <a href="{{ .Link }}" class="btn">Kerjakan</a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    {{ template "footer.html" }}
  </body>
</html>
